# Dependencias para módulos de IA

#-----------------
# Face Recognition
#-----------------

numpy>=1.21.0
opencv-python>=4.5.0
face-recognition>=1.3.0
git+https://github.com/ageitgey/face_recognition_models
requests>=2.25.0

# Dependencias adicionales que pueden ser necesarias
# dlib (se instala automáticamente con face-recognition)
# cmake (herramienta del sistema para compilar dlib)
# pkg-config (herramienta del sistema para compilar dlib)

#--------------
# IA ARMAS
#--------------

ultralytics>=8.1.0,<9
torch>=2.1.0,<3
# opencv-python>=4.7.0,<5
# numpy>=1.23.0,<3

# las otras Dependencias estan comentadas porque ya se instalaron pero si hay problemas / actualizar a las Dependencias a la versión puesta.
